#fixed-container {
  position: relative;
  bottom: 850px;
  width: 100%;
  max-width: 1800px;
  overflow-x:  hidden;
  margin-left: auto;
  margin-right: auto;
}

#upper {
  z-index: 2;
  width: 100%;

  position: relative;
  bottom: 50px;

}
.owl-item {
  max-height: 383px;
  /* opacity: 0.2; */
}
.owl-item .active {
  opacity: 1;
}
.owl-carousel figure {
  width: 383px;
  max-height: 420px;
  background-color: grey;
  display: block;
}
/* .owl-carousel img {
  width: 383px;
  height:383px;
  background-color: grey;
  display: block;
} */
