.carousel {
  position: relative;
  top: 1055px;
  right: 55px;
  width: 1050px;
  height: 385px;
  padding: 10px 0px;
  border-radius: 15px;
}
.carouseL {
  position: relative;
  top: 1155px;
  left:800px;
  width: 1050px;
  height: 385px;
  padding: 10px 0px;
  border-radius: 15px;
}
.carouseL img {
  width: 383px;
  height: 383px;
  display: inline-block;
  margin: 10px;
}

.carousel img {
  width: 383px;
  height: 383px;
  display: inline-block;
  margin: 10px;
}

.arrow {
  padding: 0;
  background: rgba(0, 0, 0, 0.00);
  margin-right: 20px;
  padding-left: auto;
  padding-right: auto;
  border: 0;
  width: 60px;
  height: 60px;
  font-size: 24px;
  line-height: 24px;
  display: block;
  float: left;
  z-index: 2;
}
.arrow img {
  width: 60px;
  height: 60px;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}

.prev {
  position: relative;
  top: 110px;
  right: 705px;
}

.next {
  position: relative;
  left: 170px;
  bottom: 790px;
}

.prevL {
  position: relative;
  top: 110px;
  /* right: 705px; */
}

.nextL {
  position: relative;
  left: 170px;
  bottom: 790px;
}
.gallery {
  width: 800px;
  overflow: hidden;
  position: relative;
  left: -40px;
  bottom: 985px;
  float: right;
  z-index: 1;
  background-color: grey;
}

.gallery ul {
  height: 383px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
}
