#fixed-container {
    max-width: 100%;
    margin-left: 2.8%;
}

#upper {
  z-index: 2;
  width: 100%;
  position: relative;
}

.owl-carousel figure {
  min-width: 383px;
  width: 60%;
  height: 0;
  padding-bottom: 80%;
  background-color: grey;
  display: block;
}
.owl-carousel img {
  width: 100%;
  background-color: grey;
  display: block;
}

.prev2{
  background-image: url("img/arrowLeft.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 52%;
  right: 5%;
}
.next2{
  background-image: url("img/arrowRight.png");
  background-size: cover;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 30%;
  right: 5%;
}
