form {
  background-color: #f2f2f2;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 340%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  font-size: 1.2vw;
  width: 40%;
}
fieldset{
  border: 0 none;
}
label {
  /* text-align: center; */
}
#FullName {
  position: relative;
  top: -25px;
}
#Date {
  background-color: red;
  position: relative;
  top: -25px;
}
#adres {
  position: relative;
  top: -25px;
}
.email {
  position: relative;
  top: -25px;
}
#email {
  position: relative;
  top: -25px;
}
.adres {
  /* position: absolute; */
  position: relative;
  top: -35px;
  /* top: 480px; */
  /* left: 50px; */
}
#adres {
  position: relative;
  top: -25px;
}
