header {
  width: 100%;
  max-height: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.background {
  width: 100%;
  max-width: 1920px;
  max-height: 1024px;
}

.backgroundOne {
  max-width: 1920px;
  width: 100%;
  padding-bottom: 53%;
  background-image: url("img/backgroundOne.png");
  }
.backgroundTwo {
  max-width: 1920px;
  width: 100%;
  padding-bottom: 53%;
  background-image: url("img/backgroundTwo.png");
}
.backgroundThree {
  max-width: 1920px;
  width: 100%;
  padding-bottom: 53%;
  background-image: url("img/backgroundThree.png");
}
.backgroundFour {
  max-width: 1920px;
  width: 100%;
  padding-bottom: 53%;
  background-image: url("img/backgroundFour.png");
}
.backgroundFive {
  max-width: 1920px;
  width: 100%;
  padding-bottom: 53%;
  background-image: url("img/backgroundFive.png");
}
.headList {
  display: inline-block;
  margin-right: 3%;
}
.headList a {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: white;
  text-decoration: none;

}

nav {
    /* max-width: 2000px; */
    min-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* position: sticky; */
    position: absolute;
    top: -10px;
    background-color: pink;
    text-align: center;
    z-index: 3;
}

figure {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 100%;
  height: 0;
  padding-bottom: 53.3%;
}

#words {
  position: relative;
  top: 0;
}
h1 {
  position: relative;
  left: 8%;
  top: 5vw;
  height: 0;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 288px;
  margin: 0;
  padding-top: 10%; /*поиграться для мобилки */
  line-height: 92px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  z-index: 2;
}
i {
  font-style: normal;
  color: black;
}

#welcomeWords {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 165%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  position: relative;
  top: 11.5vw;
  left: 8%;
  max-width: 635px;
}

.button {
  position: relative;
  top: 13vw;
  left: 8%;
  background-color: #D06D68;
  border-color: #D06D68;
  width: 15.8%;
  height: 4vw;
  border-radius: 45px;
}
.button a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 340%;
  padding-left: 22%;
  margin-top: 7%;
  color: white;
  font-size: 1.2vw;
}

.socials {
  width: 40px;
  height: 40px;
}

#contact {
  width: auto;
  float: right;
}
