main {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 155.9%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#wrapper2 {
  max-width: 100%;
  overflow: hidden;
  margin-left: 8%;
}
#heading-zwei {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 3%;
  /* height: 100px;  */
  font-size: 400%;
  line-height: 100%;
  text-align: center;
  color: #000000;
  position: relative;
}

#heading-drei {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* height: 100px;  */
  font-size: 400%;
  line-height: 100%;
  text-align: center;
  color: #000000;
  position: relative;

}

.middle {
  max-height: 1024px;
  margin-bottom: 15px;
  margin-right: 0;
  overflow: hidden;
  width: 90%;
}
#table {
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: 58.6%;
  /* padding-right: 0; */
  /* box-sizing: content-box; */
  min-width: 700px;
  position: relative;
  top: 36px;
  margin-left: auto;
  margin-right: auto;
}

#t-left {
  width: 49.8%;
  padding-bottom: 59%;
  background-color: #E2E2E2;
  float: left;
  margin: 0 1.6% 0 0;
  position: relative;
  bottom: 20px;
  /* float: left; */
  right: 3%;
}
#t-left img{
  width: 100%;
}
#t-left img{
  width: 100%;
}
#t-right {
  width: 48%;
  padding-bottom: 59%;
  position: relative;
  right: 3.5%;
  bottom: 20px;
  float: right;
}

.goods {
  position: relative;
  width: 48%;
  padding-bottom: 58.5%;
  background-color: #E2E2E2;
  margin: 0 0 0 0;
  display: inline-block;
}
.bt {
  display: block;
  margin-bottom: 2.5%;
  width: 100%;
}
.bt img {
  min-width: 48%;
}
.bb {
  display: block;
  width: 100%;
}
.bb img {
  min-width: 48%;
}
.r {
   background-color: #E2E2E2;
   margin: 0 0 0 1.6%;
 }
 .rt {
   margin: 0 0 1.3% 1.6%;
 }
 .t {
   margin: 0 0 1.3% 0;
 }
.links {
  width: 48%;
  height: 0;
  position: relative;
  bottom: 20px;
  right: 40px;
  float: left;
  margin-left: 2%;
  margin-right: 2%
}

.rechts {
  width: 48%;
  height: 0;
  float: right;
  position: relative;
  bottom: 20px;
  right: 40px;
}
