
html {
	background-color: #fff;
	font-family: 'Playfair Display';
	background-color: #f2f2f2;
}
#wrapper {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
header {
	width: 100%;
	/* height: 25vw; */
	max-height: 600px;
	height: 60vw;
	position: relative;
	bottom: 20px;
	overflow: hidden;
	/* border: 2px solid green; */
}
h1 {
	font-family: 'Oswald', sans-serif;
	/* font-size: 4vw; */
	font-size: 64px;
	font-weight: bold;
	line-height: 100%;
	position: relative;
	left: 2.5%;
	/* left: 33%; */
	/* right: 50%; */
	/* margin-left: auto; */
	/* margin-right: auto; */
	top: 1vw;
}
#jury {
	position: relative;
	position: relative;
	bottom: calc(28px - 0.5vw);
	left: 2.5%;
	font-size: 32px;
	font-family: 'Oswald', sans-serif;
}
#willkommen {
	position: relative;
	vertical-align: middle;
	bottom: 28vw;
	left: 10vw;
	color: white;
	background-color: #ed3327;
	height: 18vw;
	width: 50vw;
	max-width: 453px;
	text-align: left;
	border-radius: 4px;
}
#to-get {
	background-color: white;
	width: 100%;
	height: calc(20px + 5.0vw);
	position: absolute;
	top: 12.5vw;
	/* bottom: 0; */
	text-align: center;
	font-size: calc(28px + 1vw);
	font-weight: bolder;
	border-radius: 4px;
}
#header-image {
	width: 100%;
	/* 22vw */
	max-height: 600px;
	height: 60vw;
	z-index: -1;
	position: relative;
	top: 60px;
	/* bottom: 20px; */
	filter: invert(0.2);
}
body {
	margin: 0;
}
#number {
	position: relative;
	bottom: 25px;
}
#kontakty {
	background-color: #f2f2f2;
	border: 0.5px solid #929292;
	color: black;
	width: 40%;
	max-width: 450px;
	height: 200px;
	position: relative;
	top: 40px;
	left: 50%;
	z-index: 2;
	vertical-align: middle;
	border-radius: 15px;
}

.arroUp {
	width: 0px;
	height: 0px;
	border: 25px solid;
	border-color:transparent #f2f2f2 #f2f2f2 transparent;
	/* border-color:transparent #929292 #929292 transparent; */
	/* border-color:transparent green green transparent; */
	position: relative;
	bottom: 20px;
	left: 75%;
}
#contact a {
	color: #ed3327;
	text-decoration: none;
	position: relative;
	bottom: 35px;
	font-family:'Oswald', serif;
	line-height: 120%;
}
#to-get a {
	margin-top: auto;
	margin-bottom: auto;
	color: black;
	position: relative;
	top: calc(10px - 0.15vw);
	/* font-size: calc(20px + 1vw); */
	/* font-size: 50%; */
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
#adress {
	width: 28%;
	text-align: left;
	font-weight: bold;
	/* border: 1px solid black; */
	position: absolute;
	top: 70px;
	margin-left: 25%;
	line-height: 1.75;
}
#lawyer {
	/* border: 1px solid black; */
	font-weight: bold;
	width: 12%;
	position: absolute;
	top: 70px;
	left: 70%;
	text-align: left;
	line-height: 1.75;
}
nav {
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0px;
	font-size: 20px;
	height: 70px;
	font-family: 'Playfair Display';
	vertical-align: middle;
	z-index: 3;
}
nav a {
	color: #2f2f2f;
	text-decoration: none;
	padding: 0 5%;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	position: relative;
	top: 10px;
	border-left: 1.5px solid #ed3327;
}
#none {
	border: 0 solid white;
}
h2 {
	font-family: 'Playfair Display', serif;
	font-size: calc(250% - 0.8vw);
	line-height: 100%;
}
#topper {
	width: 44%;
	margin-right: 3%;
	text-align: left;
	position: relative;
	bottom: 900px;
	left: 50%;
	line-height: 1.75;
	color: #797c85;
	font-size: 18px;
}
p {
	margin: 0;
}
main {
	margin: 0 auto;
}
#welcomeWords {
	margin: 0;
	text-align: left;
	line-height: 1.75;
}
#advokat-photo {
	float: left;
	margin-left: 5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	text-align: left;
	width: 35%;
}
#advokat-photo-2 {
	float: right;
	margin-left: 5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	text-align: left;
	width: 35%;
}
#greet {
	max-width: 1000px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/* Для окошек popup */
.b-container{
		min-width: 350px;
		max-height: 50px;
		height:10vh;
    width: 80%;
		margin-left: auto;
		margin-right: auto;
    margin: 0 0 30px 0px;
    font-size:30px;
    color: #fff;
		display: inline-block;
		color: black;
		border-radius: 30px;
		padding-bottom: 2vw;
		position: relative;
		top: -20px;
}
.b-container a{
	text-decoration: none;
	font-size: (36px - 2vw);
	font-family: 'Oswald';
	font-weight: bolder;
	color: black;
	position: relative;
	top: 10px;

}
.b-popup{
    width:100%;
    min-height:100%;
		border-radius: 1px solid black;
    position: relative;
    top:-120px;
}
.b-popup .b-popup-content{
    margin-left: auto;
		margin-right: auto;
		margin-top: calc(82px - 1vh);
    width: 90%;
    border-radius:5px;
		text-align: left;
		position: relative;
		top: -40px;
}
.b-popup-content {

}

hr {
	width: 50%;
	border: 1px solid #ed3327;
	/* color: #ed3327; */
	box-shadow: 0px 0px 2.5px 0px #ed3327;
	position: relative;
	top: -50px;
}
#services {
	/* max-height: 250px; */
	padding-top: 25px;
	padding-bottom: 30px;
}
#services h2 {
	font-family: 'Playfair Display', serif;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 45px;
	/* font-size: calc(35px + 0.4vw); */
}
#victories {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
/* Крусель отзывов */
#slider {
	background-color: #f3f3f3;
}
.slide {
	/* background-color: green; */
	/* width: 20%; */
}
.slide img {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.b-popup-content a {
	color: #ed3327;
}
.hider {
	position: absolute;
	left: 60vw;
	font-size: calc(250% - 0.8vw);
	top: -1.5vw;
}
/* конец карусели */

/* @media screen and (max-width: 768px) { */
	/* header {
		min-height: 550px;
		height: 50vw;
	} */
	/* #jurys {
		font-size: calc(38px + 0.5vw);
	}
	#willkommen {
		position: relative;
		bottom: 550px;
		left: 10%;
		color: white;
		background-color: #ed3327;
		height: 250px;
		width: 27vw;
		text-align: left;
		border-radius: 4px;
	} */
	/* h1 {
		font-family: 'Oswald', sans-serif;
		font-size: 2vw;
		font-weight: bold;
		line-height: 100%;
		position: relative;
		left: 33%;
		top: 1vw;
	}
} */
