html {
	background-color: #fff;
	/* color: white; */
	font-family: 'Playfair Display';
	/* overflow: hidden; */
}
#wrapper {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
header {
	/* background-image: url(img/background.jpg); */
	width: 100%;
	height: 1024px;
	/* background-image: url(img/background.jpg); */
	position: relative;
	bottom: 20px;
}
#header-image {
	width: 100%;
	height: 1024px;
	z-index: -1;
	position: relative;
	top: 20px;
	filter: invert(0.8);
	/* filter: opacity(0.8); */
}
body {
	margin: 0;
}
#number {
	position: relative;
	/* top: 25px; */
	bottom: 25px;
}
#kontakty {
	background-color: white;
	color: black;
	width: 450px;
	height: 200px;
	position: relative;
	top: 40px;
	left: 50%;
	z-index: 2;
	vertical-align: middle;
	border-radius: 15px;
}
.arroUp {
	width: 0px;
	height: 0px;
	/* background-color: green; */
	border: 25px solid;
	border-color:transparent white white transparent;
	position: relative;
	left: 80%;
	bottom: 20px;
}
#contact a {
	color: #8D021F;
	text-decoration: none;
	position: relative;
	bottom: 35px;
	font-family:'Oswald', serif;
	line-height: 120%;
}
#willkommen {
	position: relative;
	bottom: 550px;
	left: 10%;
	color: white;
	background-color: #8D021F;
	height: 200px;
	width: 25vw;
	text-align: left;
	/* filter: opacity(0.5); */
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 100%;
	position: relative;
	left: 2.5%;
}
#to-get {
	background-color: white;
	width: 100%;
	height: 75px;
	/* position: relative; */
	text-align: center;
	/* vertical-align: middle; */
	/* top: 50px; */
	/* bottom: 50px; */
	font-size: 25px;
}
#jury {
	position: relative;
	left: 2.5%;
	bottom: 35px;
	font-family: 'Oswald', sans-serif;
	line-height: 100%;
}
#to-get a {
	/* vertical-align: middle; */
	margin-top: auto;
	margin-bottom: auto;
	color: black;
	/* font-weight: bolder; */
	position: relative;
	top: 7px;
	font-size: 1.5em;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
#adress {
	width: 28%;
	text-align: left;
	font-weight: bold;
	/* border: 1px solid black; */
	position: absolute;
	top: 70px;
	margin-left: 25%;
	line-height: 1.75;
}
#lawyer {
	/* border: 1px solid black; */
	font-weight: bold;
	width: 12%;
	position: absolute;
	top: 70px;
	left: 70%;
	text-align: left;
	line-height: 1.75;
}
nav {
	background: linear-gradient(to bottom, #8D021F, #42393a);
	width: 100%;
	position: absolute;
	top: 20px;
	font-size: 20px;
	height: 70px;
	font-family: 'Playfair Display';
	vertical-align: middle;
}
nav a {
	color: white;
	text-decoration: none;
	padding: 0 5%;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	position: relative;
	top: 10px;
}
h2 {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
}
#topper {
	width: 44%;
	margin-right: 3%;
	text-align: left;
	position: relative;
	bottom: 900px;
	left: 50%;
	line-height: 1.75;
	color: #797c85;
	font-size: 18px;
}
p {
	margin: 0;
}
main {
	margin: 0 auto;
}
#welcomeWords {
	margin: 0;
}
#advokat-photo {
	float: left;
	margin-right: 5%;
	margin-bottom: 5%;
	text-align: left;
	width: 35%;
}
#greet {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* Для окошек popup */
.b-container{
    width: 20%;
    height:150px;
    margin:0px;
    font-size:30px;
    color: #fff;
		display: inline-block;
		color: black;

}
.b-container a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Playfair Display';
	color: black;

}
.b-popup{
    width:75%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
    width: 90%;
    /* height: 40px; */
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
#services {
	max-height: 150px;
	padding-top: 25px;
}

#victories {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
/* Крусель отзывов */
#slider {
	background-color: #f3f3f3;
}
.slide {
	/* background-color: green; */
	/* width: 20%; */
}
.slide img {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
/* конец карусели */
