
html {
	background-color: #fff;
	font-family: 'Playfair Display';
	background-color: #f2f2f2;
}
#wrapper {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
header {
	width: 100%;
	height: 1024px;
	position: relative;
	bottom: 20px;
	overflow: hidden;
}
#header-image {
	width: 100%;
	height: 1024px;
	z-index: -1;
	position: relative;
	top: 20px;
	filter: invert(0.8);
}
body {
	margin: 0;
}
#number {
	position: relative;
	bottom: 25px;
}
#kontakty {
	background-color: #f2f2f2;
	border: 0.5px solid #929292;
	color: black;
	width: 40%;
	max-width: 450px;
	height: 200px;
	position: relative;
	top: 40px;
	left: 50%;
	z-index: 2;
	vertical-align: middle;
	border-radius: 15px;
}

.arroUp {
	width: 0px;
	height: 0px;
	border: 25px solid;
	border-color:transparent #f2f2f2 #f2f2f2 transparent;
	/* border-color:transparent #929292 #929292 transparent; */
	/* border-color:transparent green green transparent; */
	position: relative;
	bottom: 20px;
	left: 75%;
}
#contact a {
	color: #ed3327;
	text-decoration: none;
	position: relative;
	bottom: 35px;
	font-family:'Oswald', serif;
	line-height: 120%;
}
#willkommen {
	position: relative;
	bottom: 550px;
	left: 10%;
	color: white;
	background-color: #ed3327;
	height: 200px;
	width: 27vw;
	text-align: left;
	border-radius: 4px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 100%;
	position: relative;
	left: 2.5%;
}
#to-get {
	background-color: white;
	width: 100%;
	height: 75px;
	text-align: center;
	font-size: 25px;
	border-radius: 4px;
}
#jury {
	position: relative;
	left: 2.5%;
	bottom: 35px;
	font-family: 'Oswald', sans-serif;
	line-height: 100%;
}
#to-get a {
	margin-top: auto;
	margin-bottom: auto;
	color: black;
	position: relative;
	top: 7px;
	font-size: 1.5em;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
#adress {
	width: 28%;
	text-align: left;
	font-weight: bold;
	/* border: 1px solid black; */
	position: absolute;
	top: 70px;
	margin-left: 25%;
	line-height: 1.75;
}
#lawyer {
	/* border: 1px solid black; */
	font-weight: bold;
	width: 12%;
	position: absolute;
	top: 70px;
	left: 70%;
	text-align: left;
	line-height: 1.75;
}
nav {
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0px;
	font-size: 20px;
	height: 70px;
	font-family: 'Playfair Display';
	vertical-align: middle;
	z-index: 3;
}
nav a {
	color: #2f2f2f;
	text-decoration: none;
	padding: 0 5%;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	position: relative;
	top: 10px;
	border-left: 1.5px solid #ed3327;
}
#none {
	border: 0 solid white;
}
h2 {
	font-family: 'Playfair Display', serif;
	font-size: 150%;
	line-height: 100%;
}
#topper {
	width: 44%;
	margin-right: 3%;
	text-align: left;
	position: relative;
	bottom: 900px;
	left: 50%;
	line-height: 1.75;
	color: #797c85;
	font-size: 18px;
}
p {
	margin: 0;
}
main {
	margin: 0 auto;
}
#welcomeWords {
	margin: 0;
	text-align: left;
	line-height: 1.75;
}
#advokat-photo {
	float: left;
	margin-left: 5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	text-align: left;
	width: 35%;
}
#greet {
	max-width: 1000px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/* Для окошек popup */
.b-container{
		min-width: 350px;
    width: 20%;
		max-height: 70px;
    height:10vh;
    margin: 0 0 30px 0px;
    font-size:30px;
    color: #fff;
		display: inline-block;
		color: black;
		background-color:#ed3327;
		border-radius: 30px;

}
.b-container a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Playfair Display';
	font-weight: bolder;
	color: black;
	position: relative;
	top: 10px;

}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
		z-index: 4;
    top:0px;
}
.b-popup .b-popup-content{
    margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
    width: 90%;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
		text-align: left;
}
#services {
	max-height: 250px;
	padding-top: 25px;
	padding-bottom: 30px;
}
#services h2 {
	font-family: 'Playfair Display', serif;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 45px;
	/* font-size: calc(35px + 0.4vw); */
}
#victories {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
/* Крусель отзывов */
#slider {
	background-color: #f3f3f3;
}
.slide {
	/* background-color: green; */
	/* width: 20%; */
}
.slide img {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
/* конец карусели */

@media screen and (max-width: 768px) {
	#jurys {
		font-size: calc(38px + 0.5vw);
	}
}
